@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/opensanslight.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/opensanslight.woff') format('woff'); /* Pretty Modern Browsers */
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/opensans.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/opensans.woff') format('woff'); /* Pretty Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Gilroy';
  src: url('../fonts/gilroylight.woff2') format('woff2'),
  url('../fonts/gilroylight.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'PT Gilroy';
  src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
  url('../fonts/gilroyextrabold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #c0c0c0;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
.img {
  max-width: 100%;
  height: auto;
}
section,
form {
  display: block;
}
.main-header {
  width: 1160px;
  margin: 0 auto;
  margin-top: 20px;
}
.main-header-logo {
  margin-left: 60px;
}
.main-navigation {
  display: flex;
  flex-direction: column;
  width: 1160px;
  background-color: #f7e296;
  margin-top: -25px;
  height: 300px;
}
.search-user-nav-wrapper {
  width: 1160px;
  display: flex;
  align-items: flex-start;
  margin-top: 43px;
  position: relative;
}
.site-search {
  margin-left: 92px;
}

.site-search::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 63px;
  display: block;
  width: 16px;
  height: 16px;
  background: url("../img/search.svg") no-repeat 0 0;
}
.search-field {
  background: transparent;
  border: 0;
  cursor: pointer;
  width: 400px;
}
.search-field:hover {
  color: #887c50;
}
.search-field:focus {
  outline: none;
  color: #000000;
  border-bottom: solid 2px #000000;
}
.search-form-submit {
  display: none;
}
.search-form-submit:focus  .search-form-submit {
  display: block;
}
.user-nav {
  display: flex;
  flex-wrap: nowrap;
  width: 500px;
  padding: 0;
  margin: 0;
  margin-top: 0;
  margin-bottom: 21px;
}
.login-link {
  margin-left: 10px;
  margin-right: 235px;
}
.user-nav .login-link {
  position: relative;
}
.login-link::before {
  content: "";

  position: absolute;
  top: 9px;
  left: -24px;

  width: 13px;
  height: 12px;
  background: url("../img/user.svg") no-repeat 0 0;
}
.login-link:hover::before,
.login-link:focus::before {
  opacity: 0.5;
}
.login-link:active::before {
  opacity: 0.8;
}
.compare {
  margin-right: 62px;
}
.user-nav .compare {
  position: relative;
}
.compare::before {
  content: "";

  position: absolute;
  top: 11px;
  left: -20px;

  width: 10px;
  height: 12px;
  background: url("../img/compare.svg") no-repeat 0 0;
}
.compare:hover::before,
.compare:focus::before {
  opacity: 0.5;
}
.compare:active::before {
  opacity: 0.8;
}
.basket {
  /*margin-right: 55px;*/
}
.user-nav .basket {
  position: relative;
}
.basket::before {
  content: "";

  position: absolute;
  top: 9px;
  left: -21px;

  width: 14px;
  height: 12px;
  background: url("../img/cart.svg") no-repeat 0 0;
}
.basket:hover::before,
.basket:focus::before {
  opacity: 0.5;
}
.basket:active::before {
  opacity: 0.8;
}
.site-search {
  width: 523px;
}
.user-nav a,
.site-nav a,
.sub-menu a {
  color: #000000;
}
.site-nav {
  display: flex;
  font-family: 'PT Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 3px;
  list-style: none;
  padding: 0 60px;
  padding-bottom: 37px;
}
.catalog {
  text-transform: uppercase;
  flex-grow: 1;
  max-width: 540px;
}
.site-nav .catalog {
  position: relative;
}
.catalog::after {
  content: "";

  position: absolute;
  top: 5px;
  left: 230px;

  width: 17px;
  height: 15px;
  background: url("../img/plus.svg") no-repeat 0 0;
}
.supply {
  text-transform: uppercase;
  margin-left: 0;
  margin-right: 35px;

}
.guarantees {
  text-transform: uppercase;
  margin-right: 110px;
  letter-spacing: 4px;
}
.contacts {
  text-transform: uppercase;
}
.sub-menu {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  text-transform: none;
  font-weight: normal;
  letter-spacing: 0px;
  display: flex;
  flex-grow: 1;
  min-width: 550px;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 25px;
  padding: 0;
  display: none;
  /*background-color: #f7e184;*/
}
.sub-menu a {
  display: block;
}
.site-nav > li:hover .sub-menu {
  display: flex;
}
.user-nav,
.sub-menu {
  list-style: none;
}
.sub-menu-item:nth-child(1),
.sub-menu-item:nth-child(4),
.sub-menu-item:nth-child(6) {
  width: 240px;
}

.sub-menu-item:nth-child(2),
.sub-menu-item:nth-child(5) {
  width: 200px;
}
.sub-menu-item:nth-child(3) {
  width: 110px;
}
.user-nav a:hover,
.user-nav a:focus,
.site-nav a:hover,
.site-nav a:focus,
.sub-menu a:hover,
.sub-menu a:focus {
  color: #887c50;
}

.user-nav a:active,
.site-nav a:active,
.sub-menu a:active {
  color: #c4b376;
}
.landing {
  width: 1160px;
  margin: 0 auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.exclusive-products {
  margin-top: 0;
  margin-bottom: 105px;
}
.slider-our-goods input[type="radio"] {
  display: none;
}
.slider-goods {
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: -112px;
}
.slide {
  display: none;
}

.slider-goods li {
  width: 1160px;
}
.slider-controls-our-goods {
  position: absolute;
  top: 548px;
  left: 1059px;
}
.slider-controls-our-goods label {
  display: inline-block;
  margin-right: 17px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #000000;
  cursor: pointer;
}
.slider-controls-our-goods label::after {
  content: "";

  position: absolute;
  top: 12px;
  left: 3px;
  z-index: 1;

  width: 5px;
  height: 5px;

  background: #000000;

  border-radius: 50%;
}
/*
#selfie:checked ~ .slider-goods .slide:nth-child(1) {
  display: block;
}
#bracelet:checked ~ .slider-goods .slide:nth-child(2) {
  display: block;
}
#quadcopter:checked ~ .slider-goods .slide:nth-child(3) {
  display: block;
}
#selfie:checked ~ .slider-controls-our-goods .slider-controls-item--1::before,
#bracelet:checked ~ .slider-controls-our-goods .slider-controls-item--2::before,
#quadcopter:checked ~ .slider-controls-our-goods .slider-controls-item--1::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}
  /*
  #selfie:checked ~ .slider-controls-our-goods label[for="selfie"],
  #bracelet:checked ~ .slider-controls-our-goods label[for="bracelet"],
  #quadcopter:checked ~ .slider-controls-our-goods label[for="quadcopter"] {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 1px solid #000000;
  }
  #selfie:checked ~ .slider-slides .slider-goods {
    transform: translateX(0);
  }
  #bracelet:checked ~ .slider-slides .slider-goods {
    transform: translateX(-1160px);
  }
  #quadcopter:checked ~ slider-slides .slider-goods {
    transform: translateX(-2320px);
  }
  */
/*#selfie:checked ~ .slider-slides-goods #slide1,
#bracelet:checked ~ .slider-slides-goods #slide2,
#quadcopter:checked ~ .slider-slides-goods #slide3 {
  display: block;
}
#selfie:checked ~ .slider-slides-goods label[for="selfie"],
#bracelet:checked ~ .slider-slides-goods label[for="bracelet"],
#quadcopter:checked ~ .slider-slides-goods label[for="quadcopter"] {
  background-color: #91c92f;
}*/
.product-slogan {
  margin-top: 80px;
  margin-bottom: 17px;
}
.about-product {
  position: relative;
}
.monopod {
  display: flex;
  justify-content: space-between;
  /*display: none;*/
}
.monopod img {
  margin-left: 90px;
}
.about-monopod {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-right: 60px;
}

.description-good-1 {
  margin-top: 0;
  margin-bottom: 130px;
}
.show-more-information {
  position: absolute;
  top: 321px;
  left: 44px;
}
.parameter-selfie-1 {
  width: 150px;
}
.parameter-selfie-2 {
  width: 140px;
}
.tracker {
  display: flex;
  justify-content: space-between;
  display: none;
}
.tracker img {
  margin-top: 13px;
  margin-left: 117px;
}
.about-tracker {
  display: flex;
  flex-direction: column;
  width: 560px;
  /*margin-left: 0px;*/
  /*position: relative;*/
}
.description-good-2 {
  margin-top: 0;
  margin-bottom: 130px;
}
.quadcopter {
  display: flex;
  justify-content: space-between;
  display: none;
}
.quadcopter img {
  margin-top: 65px;
  margin-left: 32px;
}
.about-quadcopter {
  display: flex;
  flex-direction: column;
  width: 560px;
}

.slogan-3 {
  z-index: 1;
}
.description-good-3 {
  margin-top: 0;
  margin-bottom: 130px;
}
.parameter-quadcopter-1 {
  width: 150px;
}
.slide-number {
  font-family: 'PT Gilroy', Arial, sans-serif;
  font-size: 179px;
  line-height: 179px;
  font-weight: 700;
  color: #ffffff;
  margin: 0px;
  position: absolute;
  top: -10px;
  left: 330px;
}
.slide-number::before {
  content: "";
  position: absolute;
  top: 50px;
  left: -330px;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}
.product-slogan {
  font-family: 'PT Gilroy', Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 700;
  color: #000000;
}
.show-more-information {
  background: none;
}
.show-more-information,
.more-about-us,
.write-us,
.in-garbage,
.slider-controls-our-services label {
  display: block;
  font-family: 'PT Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 5px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  margin: 0;
  padding: 0;
  z-index: 2;
}
.show-more-information::before {
  content: "";
  position: absolute;
  top: 35%;
  left: -10%;
  width: 115%;
  height: 8px;
  background: #f0c52e;
  transition: all 200ms ease;
  z-index: -1;
}
.show-more-information:hover::before {
  height: 100%;
  top: 0;
}
.show-more-information:active {
  color: #c4b376;
}

.parameters-goods {
  font-family: 'PT Gilroy', Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  color: #000000;
  background-color: #ffffff;
}

.name-parameters-goods {
  font-size: 13px;
  line-height: 20px;
}
.category-list {
  list-style: none;
  margin: 0;
  margin-bottom: 175px;
  padding: 0;
  width: 1160px;
  display: flex;
}
.category-list-items {
  position: relative;
}
.category-list-items img {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%)
}
.category-list li:nth-last-child(-1n + 6) {
  margin-right: 40px;
}
.category-items {
  margin: 0;
  padding: 0;
  width: 160px;
  height: 160px;
  background-color: #f7e296;
}
.category-items:hover,
.category-items:focus {
  background-color: #f0c52e;
}
.category-items:active {
  opacity: 0.8;
}
.category-name a {
  font-family: 'PT Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  padding: 0;
}
.category-list-items h3 {
  margin: 0;
  margin-top: 30px;
}
.service-wrapper {
  margin: 0 auto;
  margin-bottom: 95px;
  padding: 0;
  padding-bottom: 130px;
  display: flex;
  /*justify-content: space-between;*/
  position: relative;
  width: 100vw;
  left: calc(-50vw + 50%);
  background-color: #e5e5e5;
}

.slider-our-services input[type="radio"] {
  display: none;
}
.slider-controls-our-services {
  width: 280px;
  margin: 0;
  margin-top: -55px;
  padding: 0;
  /*position: relative;*/
}
.slider-controls-our-services label {
  font-size: 18px;
  margin-top: 40px;
  position: relative;
}
.label-decoration::before {
  content: "";
  position: absolute;
  top: 35%;
  left: 20%;
  width: 60%;
  height: 8px;
  background: #f0c52e;
  transition: all 300ms ease;
  z-index: -1;
}
.label-decoration:hover::before {
  height: 100%;
  top: 0;
}
.label-decoration:active {
  background-color: #000000;
  color: #be9c22;
}

.slides-services::before {
  content: "";
  position: absolute;
  top: -101px;
  left: -3px;
  width: 7px;
  height: 318px;
  background-color: #000000;
}
.slides-services {
  position: relative;
  margin-left: 60px;
}
.slides-list {
  display: flex;
  flex-direction: column;
  width: 720px;
  margin: 0;
  padding: 0;
}
.service-title {
  text-transform: none;
  margin: 0;
  margin-top: -27px;
}
.service-description {
  text-transform: none;
  margin-top: 30px;
}
.slides-list img {
  margin-top: -17px;
}
.delivery {
  display: flex;
  width: 880px;
  margin: 0;
  padding: 0;
  position: relative;
  /*display: none;*/
}
/*label .delivery-button::before {
  content:'';
  position: absolute;
  top: 35%;
  left: -10%;
  width: 115%;
  height: 8px;
  background: #f0c52e;
  transition: all 300ms ease;
  z-index: -1;
}
label .delivery-button:hover:before {
  height: 100%;
  top: 0;
}*/
.delivery-wrapper {
  display: flex;
  flex-direction: column;
  width: 450px;
  margin-left: 120px;
  margin-right: 110px;
}
.warranty {
  display: flex;
  width: 880px;
  margin: 0;
  padding: 0;
  display: none;
}
.warranty-wrapper {
  display: flex;
  flex-direction: column;
  width: 450px;
  margin-left: 120px;
  margin-right: 110px;
}
.credit {
  display: flex;
  width: 880px;
  margin: 0;
  padding: 0;
  display: none;
}
.credit-wrapper {
  display: flex;
  flex-direction: column;
  width: 450px;
  margin-left: 120px;
  margin-right: 110px;
}
.slides-list h3,
.about-us h2,
.our-contacts h2 {
  font-family: 'PT Gilroy', Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
}
.brand-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.brand-list img {
  filter: grayscale(100%) opacity(50%);
}
.brand-list img:hover,
.brand-list img:focus {
  filter: none;
}
.about-us-contacts-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-top: 100px;
}
.about-us {
  width: 495px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.about-us h2::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0px;
  width: 80px;
  height: 7px;
  background-color: #000000;
}
.about-us h2 {
  margin-top: 36px;
  margin-bottom: 28px;
}

.transport-companies-list li {
  font-family: 'PT Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 700;
}
.transport-1::before {
  content: "";
  position: absolute;
  top: 360px;
  left: 0px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 2px solid #e6e6e6;
}
.transport-2::before {
  content: "";
  position: absolute;
  top: 400px;
  left: 0px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 2px solid #e6e6e6;
}
.transport-3::before {
  content: "";
  position: absolute;
  top: 440px;
  left: 0px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 2px solid #e6e6e6;
}
.transport-companies-list {
  margin: 0;
  padding: 0;
  margin-top: 51px;
  margin-left: 36px;
  list-style: none;
  font-family: 'PT Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  color: #000000;
}
.our-contacts {
  width: 560px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.our-contacts:before {
  content: "";
  position: absolute;
  top: -16px;
  left: 1px;
  width: 80px;
  height: 7px;
  background-color: #000000;
}
.our-contacts h2 {
  margin-top: 36px;
  margin-bottom: 28px;
}
.our-contacts img {
  margin-top: 22px;
  margin-bottom: 17px;
}
.more-about-us,
.write-us {
  width: 265px;
  margin-top: 60px;
  margin-bottom: 90px;
  position: relative;
  z-index: 2;
  background: none;
}
.more-about-us:active,
.write-us:active {
  color: #be9c22;
}
.button-decoration::before {
  content: "";
  position: absolute;
  top: 35%;
  left: 0%;
  width: 100%;
  height: 8px;
  background: #f0c52e;
  transition: all 300ms ease;
  z-index: -1;
}
.button-decoration:hover::before {
  height: 100%;
  top: 0;
}
/*.button-decoration:active::before {
  color: #be9c22;
}*/

.footer-wrapper {
  width: 1160px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.main-footer {
  background-color: #464646;
  padding-bottom: 60px;
}
.logo-footer-address-wrapper {
  width: 210px;
  display: flex;
  flex-direction: column;
  margin-top: 62px;
  position: relative;
  margin-right: 100px;
}
.main-footer-logo {
  font-family: 'PT Gilroy', Arial, sans-serif;
  font-size: 48px;
  line-height: 48px;
  color: #ffc600;
  font-weight: 700;
  margin: 0;
  margin-bottom: 21px;
}

.main-footer-logo:hover,
.main-footer-logo:focus {
  color: #c39b22;
}

.main-footer-logo:active {
  color: #8d7536;
}

address {
  font-style: normal;
}
address::after {
  content: "";
  position: absolute;
  top: 175px;
  left: 0px;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}
.footer-nav-social-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.site-footer-nav {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 425px;
  margin-top: 135px;
}
.social-networks {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 142px;
  display: flex;
  align-self: center;
  justify-content: space-between;
  margin-top: 60px;
}
.social-networks path:hover,
.social-networks path:focus,
.social-networks g:hover,
.social-networks g:focus {
  fill: #b5b5b5;
}
.social-networks path:active,
.social-networks g:active {
  fill: #595959;
}
.site-footer-nav,
.social-networks,
.footer-user-nav {
  list-style: none;
}

.site-footer-nav a {
  font-family: 'PT Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-user-nav a {
  color: #ffffff;
}

.site-footer-nav a:hover,
.site-footer-nav a:focus,
.footer-user-nav a:hover,
.footer-user-nav a:focus {
  color: #c3c3c3;
}

.site-footer-nav a:active,
.footer-user-nav a:active {
  color: #8d8d8d;
}

.facebook:focus,
.facebook:hover,
.instagram:focus,
.instagram:hover,
.twitter:focus,
.twitter:hover {
  fill: #b5b5b5;
}

.nav-phone-copyright-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}
.footer-user-nav {
  line-height: 36px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-top: 61px;
  margin-left: 17px;
  margin-bottom: 36px;
}
.login-link-footer::before {
  content: "";

  position: absolute;
  top: 73px;
  left: -10px;

  width: 13px;
  height: 12px;
  background: url("../img/user-foot.svg") no-repeat 0 0;
}
.compare-footer::before {
  content: "";

  position: absolute;
  top: 74px;
  left: 103px;

  width: 13px;
  height: 12px;
  background: url("../img/compare-foot.svg") no-repeat 0 0;
}
.basket-footer::before {
  content: "";

  position: absolute;
  top: 71px;
  left: 234px;

  width: 13px;
  height: 12px;
  background: url("../img/cart-foot.svg") no-repeat 0 0;
}
.phone-number {
  margin: 0;
  padding: 0;
  margin-left: 150px;
  margin-bottom: 60px;
}
.phone-number a {
  color: #ffffff;
}

.footer-copyright {
  margin: 0;
  padding: 0;
  margin-left: 290px;
}
.modal {
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
}
.modal-write-us {
  display: none;
  width: 960px;
  height: 555px;
  margin: 50px auto;
  border: solid 1px white;
  box-shadow: 0 8px 20px 0px #b5b5b5;
  /*position: relative;*/
}
.write-us-form {
  /*margin: 0;*/
  padding: 0;
  width: 760px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 95px;
  z-index: 10;
}
.write-us-form::before {
  content: "";

  position: absolute;
  top: 23px;
  left: 882px;
  width: 55px;
  height: 55px;
  background-image: url("../img/modal-close.svg");
}
.write-us-form input,
.write-us-form textarea {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #bababa;
  background-color: #f2f2f2;
  border: none;
  margin: 0;
  padding: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 20px;
}
.write-us-form input {
  width: 340px;
}
.write-us-form-group label {
  display: block;
  font-family: 'PT Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 5px;
}
.write-us-form-group {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
}
.write-us-button {
  margin-top: 5px;
  margin-left: 34px;
  background: none;
  position: relative;
  font-family: 'PT Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  border: none;
  z-index: 2;
}
.write-us-button::before {
  content: "";
  position: absolute;
  top: 35%;
  left: 0%;
  width: 100%;
  height: 8px;
  background: #f0c52e;
  transition: all 200ms ease;
  z-index: -1;
}
.write-us-button:hover::before {
  height: 100%;
  top: 0;
}
.write-us-button:active {
  color: #8d7536;
}
.modal-map {
  display: none;
  width: 960px;
  height: 559px;
  margin: 50px auto;
  /*position: relative;*/
  box-shadow: 0 8px 20px 0px #b5b5b5;
}
.modal-close {

  position: absolute;
  top: 32px;
  left: 900px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-image: url("../img/modal-close-map.svg");
}
header .shop-navigation {
  height: 186px;
  margin-bottom: 40px;
}
.profile {
  display: inline-block;
  width: 282px;
  margin-right: 0;
}
.enter {
  margin-right: 10px;
}
.user-nav a:active, a.exit {
  opacity: 0.3;
}
/*.catalog-page {
  width: 1160px;
  display: flex;
  margin: 0 auto;
}*/
.container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.page-title {
  font-family: 'PT Gilroy', Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-left: 60px;
  margin-bottom: 25px;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  margin-left: 60px;
  margin-bottom: 42px;
  display: flex;
  justify-content: space-between;
  width: 380px;
  position: relative;
}
.breadcrumbs .breadcrumbs-main::after {
  content: "";

  position: absolute;
  top: 9px;
  left: 69px;
  width: 4px;
  height: 7px;
  background: url("../img/nav-arrow.svg") no-repeat 0 0;
}
.breadcrumbs .breadcrumbs-catalog::before {
  content: "";

  position: absolute;
  top: 9px;
  left: 220px;
  width: 4px;
  height: 7px;
  background: url("../img/nav-arrow.svg") no-repeat 0 0;
}
.breadcrumbs a {
  color: #cacaca;
}

.breadcrumbs a:hover {
  color: #8d8d8d;
}

.breadcrumbs a:active {
  color: #eeeeee;
}

.breadcrumbs li,
.available-colors li,
.available-bluetooth li,
.sort li,
.sort-function li,
.goods-list li,
.pagination li {
  list-style: none;
}
.content-title {
  width: 100%;
  overflow: hidden;
  background: #ebebeb;
  background: linear-gradient(to right,#dbdbdb 0%,#dbdbdb 49%,#ebebeb 50%,#ebebeb 100%);
}
.filter-title-sort {
  width: 1160px;
  display: flex;
  margin: 0 auto;
}

.filter-main-title {
  font-family: 'PT Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0;
  padding: 23px 185px 23px 55px;
  background-color: #dcdcdc;

}
.sort-goods-by {
  background-color: #ebebeb;
  display: flex;
  /*width: 835px;*/
  position: relative;
}
.sort-goods-by h2 {
  font-family: 'PT Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #000000;
  padding: 23px 54px 23px 70px;
  margin: 0;
}
.sort {
  display: flex;
  justify-content: space-between;
  width: 290px;
  margin: 0;
  margin-top: 20px;
  padding: 0;
}
.sort-function {
  display: flex;
}
.sort::before {
  content: "";

  position: absolute;
  top: 30px;
  left: 790px;

  width: 11px;
  height: 10px;
  background: url("../img/icon-up-dir.svg") no-repeat 0 0;
}
.sort::after {
  content: "";

  position: absolute;
  top: 30px;
  left: 820px;

  width: 11px;
  height: 10px;
  background: url("../img/icon-down-dir.svg") no-repeat 0 0;
}
.sort-by a,
.sort-function a {
  font-size: 14px;
  line-height: 18px;
  color: #cacaca;
}
.selected-sort a {
  color: #000000;
}
.sort-by a:hover,
.sort-by a:focus,
.sort-function a:hover,
.sort-function a:focus {
  color: #8d8d8d;
}

.sort-by a:active,
.sort-function a:active {
  color: #000000;
}
.filters-catalog {
  overflow: hidden;
  background: #efefef;
  background: linear-gradient(to right,#efefef 0%,#efefef 30%,#fff 30%,#fff 100%);
}
.filters-catalog-wrapper {
  display: flex;

  width: 1160px;
  margin: 0 auto;
}
.filters {
  background-color: #eeeeee;
  width: 328px;
  margin: 0;
  padding: 0;
  /*margin-left: 100px;*/
  /*display: flex;*/
  /*flex-direction: column;*/
}
.filter-form {
  width: 200px;
  margin: 0;
  margin-left: 60px;
  /*margin-right: 70px;*/
  /*padding-top: 68px;*/
  /*padding-right: 68px;*/
}
.cost-filter-title,
legend {
  font-family: 'PT Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  margin-top: 12px;
}
.cost-controls {
  height: 140px;
  margin-top: 70px;
  margin-bottom: 15px;
  border-top: solid 2px #000000;
  border-bottom: solid 2px #000000;
}
.price-controls span {
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  vertical-align: top;
}
.range-controls {
  position: relative;
}
.range-controls .scale {
  height: 2px;
  background-color: #dbdbdb;
}
.scale {
  width: 200px;
  position: absolute;
  top: 35px;
}

.range-controls .bar {
  width: 60%;
  height: 2px;
  background: #91c92f;
}
.range-toggle {
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
}
.range-toggle-min {
  position: absolute;
  top: 25px;
  left: -5px;
}
.range-toggle-max {
  position: absolute;
  top: 25px;
  left: 105px;
}
.selected-price {
  margin-top: 40px;
}
.left-slider {
  margin-right: 65px;
}
.filter-form-button {
  font-family: 'PT Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  border: none;
  position: relative;
  background: none;
  z-index: 2;
}
.filter-form-button:active {
  color: #8d7536;
}
.filter-form-button::before {
  content:'';
  position: absolute;
  top: 35%;
  left: -10%;
  width: 115%;
  height: 8px;
  background: #f0c52e;
  transition: all 300ms ease;
  z-index: -1;
}
.filter-form-button:hover:before {
  height: 100%;
  top: 0;
}

.filter-form fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
legend {
  margin: 0;
  padding: 0;
}
.filter-form ul {
  line-height: 40px;
  color: #000000;
}
.available-colors {
  margin: 0;
  padding: 0;
  padding-bottom: 60px;
  border-bottom: solid 2px #000000;
  margin-bottom: 10px;
}
.option-color {
  font-size: 14px;
  padding-left: 35px;
}
.available-colors label {
  position: relative;
  display: block;
}
.filter-input-checkbox + label::before {
  content: "";
  position: absolute;

  top: 10px;
  left: -37px;

  width: 23px;
  height: 23px;
  background: url("../img/checkbox-off.svg") no-repeat 0 0;
}
.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: 10px;
  left: -35px;

  width: 25px;
  height: 23px;
  background: url("../img/checkbox-on — копия.svg") no-repeat 0 0;
}
.selected-color:hover,
.selected-color:focus,
.selected-option:hover,
.selected-option:focus
.filter-bluetooth-input:hover + label,
.filter-bluetooth-input:focus + label
{
  color: #606060;
}

.selected-color:active
.filter-bluetooth-input:active + label
{
  color: #000000;
}

.disabled-color:disabled + label {
  color: #b3b3b3;

  opacity: 0.5;
}
.available-bluetooth label {
  position: relative;
  display: block;
}
.filter-bluetooth-input + label::before {
  content: "";

  position: absolute;
  top: 10px;
  left: -37px;

  width: 25px;
  height: 25px;
  background: url("../img/radio-off.svg") no-repeat 0 0;
}
.filter-bluetooth-input:checked + label::before {
  content: "";

  position: absolute;
  top: 10px;
  left: -37px;

  width: 25px;
  height: 25px;
  background: url("../img/radio-on.svg") no-repeat 0 0;
}
.filter-form-button {
  margin-top: 15px;
  margin-left: 25px;
}
.sort-catalog-pagination-wrapper {
  width: 835px;
  display: flex;
  flex-direction: column;

}
.goods-list {
  padding: 0;
  margin-top: 55px;
  margin-left: 75px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  width: 760px;
}
.stock-keeping-unit {
  width: 360px;
  margin-right: 40px;
  position: relative;
}
.stock-keeping-unit:nth-child(2n) {
  margin-right: 0;
}
.signature {
  display: flex;
  justify-content: space-between;
}
.sku-name {
  font-family: 'PT Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}
.sku-name--1 {
  width: 220px;
}
.sku-price {
  font-family: 'PT Gilroy', Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: #464646;
}
.new::after {
  content: "NEW";
  position: absolute;
  top: 29px;
  right: 27px;
  width: 30px;
  height: 16px;
  padding-top: 20px;
  padding-right: 13px;
  padding-left: 13px;
  padding-bottom: 20px;
  font-size: 14px;
  font-family: "Gilroy ExtraBold","Arial",sans-serif;
  text-align: center;
  vertical-align: middle;
  color: rgba(0,0,0,.2);
  letter-spacing: 1px;
  border: 2px solid rgba(0,0,0,.1);
  border-radius: 50%;
}
.stock-keeping-unit__mask {
  display: none;
  position: absolute;
  top: 16px;
  left: 0px;
  height: 380px;
  background: #ebebeb;
  opacity: 0.7;

  transition: all .27s ease-in-out;
}
.stock-keeping-unit__mask:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 380px;
}
.stock-keeping-unit__mask .in-garbage {
  display: inline-block;
  position: absolute;
  top: 180px;
  left: 95px;
  font-size: 18px;
  width: 50%;
  transition: all .27s .27s ease-in-out;
}
.stock-keeping-unit__mask .in-garbage:active {
  color: #be9c22;
}
.stock-keeping-unit__mask .add-to-compare {
  display: inline-block;
  position: absolute;
  top: 200px;
  left: 110px;
  font-size: 13px;
  color: #a3a3a3;
}
.stock-keeping-unit__mask .add-to-compare:hover {
  color: #000000;
}
.stock-keeping-unit__mask .add-to-compare:active {
  color: #dddddd;
}
.stock-keeping-unit:hover .stock-keeping-unit__mask {
  display: block;
  width: 360px;
  height: 380px;
  opacity: 0.85;
  transform: translateY(0%);
}
.button-decoration::before {
  content: "";
  position: absolute;
  top: 35%;
  left: 0%;
  width: 100%;
  height: 8px;
  background: #f0c52e;
  transition: all 200ms ease;
  z-index: -1;
}
.button-decoration:hover::before {
  height: 100%;
  top: 0;
}
.pagination {
  background-color: #ebebeb;
  padding-left: 0;
  padding-top: 18px;
  padding-bottom: 20px;
  margin-top: 0;
  margin-left: 70px;
  width: 760px;
  display: flex;
  justify-content: space-between;
}
.pagination-page-prev {
  padding: 23px 30px;
  width: 125px;
  margin-left: 0;
  margin-right: 200px;
  background-color: #d9d9d9;
  color: #000000;

}
.pagination-page-next {
  padding: 23px 30px;
  width: 125px;
  margin-right: 0;
  margin-left: 200px;
  background-color: #d9d9d9;
  color: #000000;
}
.pagination a {
  font-family: 'PT Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
.pagination-number-page {
  color: #bababa;
}
.selected {
  color: #000000;
}
.pagination-number-page:hover,
.pagination-number-page:focus {
  color: #8d8d8d;
}
.pagination-number-page:active {
  color: #000000;
}

.pagination-page-next:hover,
.pagination-page-prev:hover,
.pagination-page-next:focus,
.pagination-page-prev:focus {
  background-color: #d9d9d9;
}

.pagination-page-prev:active,
.pagination-page-next:active {
  color: #acacac;
  background-color: #d9d9d9;
}

