@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/opensanslight.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/opensanslight.woff') format('woff'); /* Pretty Modern Browsers */
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/opensans.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/opensans.woff') format('woff'); /* Pretty Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Gilroy';
  src: url('../fonts/gilroylight.woff2') format('woff2'),
  url('../fonts/gilroylight.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'PT Gilroy';
  src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
  url('../fonts/gilroyextrabold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #c0c0c0;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  width: 1140px;
  background-color: #f7e296;

}
.search-user-nav-wrapper {
  width: 1160px;
  display: flex;
  align-items: flex-start;

}
.user-nav {
  display: flex;
  flex-wrap: nowrap;
  width: 610px;
  padding: 0;
  margin-top: 0;
}
.login-link {
  margin-left: 50px;
  margin-right: 250px;
}
.compare {
  margin-right: 35px;
}
.basket {
  margin-right: 55px;
}
.site-search {
  width: 550px;
}
.user-nav a,
.site-nav a,
.sub-menu a {
  color: #000000;
}
.site-nav {
  display: flex;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  list-style: none;
  padding: 0;
}
.catalog {
  margin-left: 0px;
  margin-right: 430px;
}
.delivery {
  margin-right: 100px;
}
.guarantees {
  margin-right: 105px;
}
.sub-menu {
  display: none;
}
.user-nav,
.sub-menu {
  list-style: none;
}

.user-nav a:hover,
.user-nav a:focus,
.site-nav a:hover,
.site-nav a:focus,
.sub-menu a:hover,
.sub-menu a:focus {
  color: #887c50;
}

.user-nav a:active,
.site-nav a:active,
.sub-menu a:active {
  color: #c4b376;
}

.slider-goods {
  list-style: none;
}
.monopod {
  display: flex;
}
.about-monopod {
  display: flex;
  flex-direction: column;
  width: 560px;
  margin-left: 100px;
}
.tracker {
  display: flex;
}
.about-tracker {
  display: flex;
  flex-direction: column;
  width: 560px;
  margin-left: 100px;
}
.quadcopter {
  display: flex;
}
.about-quadcopter {
  display: flex;
  flex-direction: column;
  width: 560px;
  margin-left: 100px;
}
.slide-number {
  font-family: 'PT Gilroy', Arial, sans-serif;
  font-size: 179px;
  line-height: 179px;
  font-weight: 700;
  color: #ffffff;
  background-color: #f7e296;
  margin: 0;
}

.product-slogan {
  font-size: 47px;
  line-height: 56px;
  font-weight: 700;
  color: #000000;

}

button,
.more-about-us,
.write-us {
  font-family: 'PT Gilroy', Arial, sans-serif;
  font-weight: 700;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #ffffff;
  border: none;
}

button:active {
  color: #c4b376;
}

.parameters-goods {
  font-family: 'PT Gilroy', Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  color: #000000;
  background-color: #ffffff;
}

.name-parameters-goods {
  font-size: 13px;
  line-height: 20px;
}

.category-list {
  list-style: none;
  display: flex;
}

.category-emblem {
  background-color: #f7e296;
}

.category-emblem:hover {
  background-color: #f0c52e;
}

.category-name {
  font-family: 'PT Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}
.delivery {
  display: flex;
}
.delivery-wrapper {
  display: flex;
  flex-direction: column;
}
.warranty {
  display: flex;
}
.warranty-wrapper {
  display: flex;
  flex-direction: column;
}
.credit {
  display: flex;
}
.credit-wrapper {
  display: flex;
  flex-direction: column;
}
.brand-list {
  list-style: none;
  display: flex;
}
.slides-list h3,
.about-us h2,
.contacts h2 {
  font-family: 'PT Gilroy', Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
}
.about-us-contacts-wrapper {
  display: flex;
}
.about-us {
  display: flex;
  flex-direction: column;
}
.contacts {
  display: flex;
  flex-direction: column;
}
.transport-companies-list {
  list-style: none;
  font-family: 'PT Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  color: #000000;
}

.main-footer {
  width: 1160px;
  display: flex;
  background-color: #464646;
}

.main-footer-logo {
  font-family: 'PT Gilroy', Arial, sans-serif;
  font-size: 48px;
  line-height: 48px;
  color: #ffc600;
  font-weight: 700;
  margin-bottom: 20px;
}

.main-footer-logo:hover,
.main-footer-logo:focus {
  color: #c39b22;
}

.main-footer-logo:active {
  color: #8d7536;
}

address {
  font-style: normal;
}
.logo-footer-address-wrap {
  margin: 50px;
  display: flex;
  flex-direction: column;

}
.site-footer-nav,
.social-networks,
.footer-user-nav {
  list-style: none;
}

.site-footer-nav a {
  font-family: 'PT Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-user-nav a {
  color: #ffffff;
}

.site-footer-nav a:hover,
.site-footer-nav a:focus,
.footer-user-nav a:hover,
.footer-user-nav a:focus {
  color: #c3c3c3;
}

.site-footer-nav a:active,
.footer-user-nav a:active {
  color: #8d8d8d;
}
.footer-nav-item {
  margin: 10px;
  margin-top: 100px;
}
.footer-nav-social-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.site-footer-nav {
  display: flex;
  width: 450px;
  margin-top: 20px;
}
.social-networks {
  text-align: center;
  display: flex;
  margin-left: 70px;
}
.nav-phone-copyright-wrapper {
  display: flex;
  flex-direction: column;
}
.footer-user-nav {
  display: flex;
  justify-content: space-between;
  width: 350px;
  margin-top: 50px;
  margin-left: -80px;

}

.phone-number a {
  color: #ffffff;
  margin-left: 155px;
}
.footer-copyright {
  margin-left: 285px;
}
.visually-hidden {
  display: none;
}
.page-title {
  font-family: 'PT Gilroy', Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
  font-weight: 700;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.breadcrumbs a {
  color: #cacaca;
}

.breadcrumbs a:hover {
  color: #8d8d8d;
}

.breadcrumbs a:active {
  color: #eeeeee;
}

.breadcrumbs li,
.available-colors li,
.available-bluetooth li,
.sort li,
.sort-function li,
.goods-list li,
.pagination li {
  list-style: none;
}
.filters-catalog-wrapper {
  width: 1200px;
  display: flex;

}
.filters {
  background-color: #eeeeee;
  width: 300px;
  display: flex;

}

.filter-form-button {
  font-family: 'PT Gilroy', Arial, sans-serif;
  font-size: 18px;
  border: none;
}
.cost-filter p {
  font-family: 'PT Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.filter-form fieldset {
  border: none;
}

.filter-form legend {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.filter-form ul {
  line-height: 40px;
  color: #000000;
}

.filter-color-input:hover + label,
.filter-color-input:focus + label,
.filter-bluetooth-input:hover + label,
.filter-bluetooth-input:focus + label {
  color: #606060;
}

.filter-color-input:active + label,
.filter-bluetooth-input:active + label {
  color: #000000;
}

.filter-color-input:disabled + label {
  color: #b3b3b3;

  opacity: 0.5;
}
.sort-catalog-pagination-wrapper {
  width: 900px;
  display: flex;
  flex-direction: column;

}
.sort-goods-by {
  background-color: #ebebeb;
  display: flex;
  width: 900px;
}
.sort {
  display: flex;
  justify-content: space-between;
  width: 320px;
  margin-right: 50px;
}
.sort-function {
  display: flex;
  justify-content: space-between;
}
.sort-goods-by p {
  font-family: 'PT Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.sort-by a,
.sort-function a {
  font-size: 14px;
  line-height: 18px;
  color: #cacaca;
}

.sort-by a:hover,
.sort-by a:focus,
.sort-function a:hover,
.sort-function a:focus {
  color: #8d8d8d;
}

.sort-by a:active,
.sort-function a:active {
  color: #000000;
}
.goods-list {
  padding: 0;
  margin-top: 70px;
  margin-left: 70px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  width: 900px;
}
.stock-keeping-unit {
  width: 360px;
  margin-right: 40px;
}
.catalog-item:nth-child(2n) {
  margin-right: 0;
}
.sku-name {
  font-family: 'PT Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.sku-price {
  font-family: 'PT Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #cacaca;
}
.pagination {
  background-color: #ebebeb;
  padding-left: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0;
  margin-left: 70px;
  width: 760px;
  display: flex;
  justify-content: space-between;
}
.page-prev {
  padding-left: 20px;
  margin-left: 0;
  margin-right: 230px;

}
.page-next {
  padding-right: 20px;
  margin-right: 0;
  margin-left: 230px;
}
.pagination a {
  font-family: 'PT Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  background-color: #ebebeb;
}
.pagination-number-page:hover,
.pagination-number-page:focus {
  color: #8d8d8d;
}
.pagination-number-page:active {
  color: #000000;
}

.pagination-page-next:hover,
.pagination-page-prev:hover,
.pagination-page-next:focus,
.pagination-page-prev:focus {
  background-color: #d9d9d9;
}

.pagination-page-prev:active,
.pagination-page-next:active {
  color: #acacac;
  background-color: #d9d9d9;
}

